/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

body{
    background-color: lime;
    display: none;
/*    overflow-x: hidden;*/
}

a:hover{
    color: white!important;
}

table.dataTable tr.odd { background-color: lightgrey; }
table.dataTable tr.even { background-color: white; }

form .row{
/*    margin-left: 0;
    margin-right: 0;*/
    margin-top: 9px;
    margin-bottom: 9px;
}

.TimeInput{
    width:45px;
    max-width:45px;
    padding-left: 12px;
    padding-right: 12px;
}

table tfoot td{
    font-weight: bold;
}

form .row .ButtonInput{
    text-align: right!important;
}

form .row .ButtonInput button, form .row .ButtonInput input[type=button]{
    padding: 9px;
    display: inline-block;
    
}

input[type='image'].AddViewEditDeleteIcons{
    width:30px;
    height: 30px;
}

i:hover{
    display: unset!important;
    font-weight: bolder;
    color:gray;
}

#LeftMainMenu{
    position: fixed;
    left:0;
    top:60px;
    max-width:275px;
    width:275px;
    background-color: darkgreen;
    z-index: 9;
    border-right: 2px solid lime;
    padding-bottom: 15px;
    
}

#LeftMainMenu:hover{
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.LeftMenuItem{
    padding: 9px;
    cursor: pointer;
    color: lime;
    background-color: darkgreen;
}

.LeftMenuItem label{
    cursor: pointer;
}

.LeftMenuItem:hover{
    border:2px solid lime;
    color: darkgreen;
    background-color: lime;
}

.Icon{
    font-size:36px;padding-left:10px;padding-right:10px;padding-bottom: 3px;cursor: pointer;
    color: lime;font-weight: bolder;
}

.Icon:hover{
    border: 2px solid lime;
}

.jQueryUIThemeChangeIcon{
    font-size:21px;
    color: lime;
    font-weight: bolder;
    cursor: pointer;
}

#FixedToolbar{
    position: fixed;
    top:0;
    width:100%;
    background-color: darkgreen;
    z-index: 99;
}

#Scrollable{
    margin-top: 60px;
    margin-bottom: 60px;
}

#Footer{
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    background-color: darkgreen;
    border-top: 2px solid lime;
    z-index: 99;
}

.Toolbar{
    height:60px;
    background-color: darkgreen;
    border-bottom: 2px solid lime;
    z-index: 99;
}

@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}


@media screen and (max-width: 575px) {
    .VeryLargeScreens{
        display: none;
    }
    .MediumScreens{
        display: none;
    }
    .SmallScreens{
        display: none;
    }
    .TinyScreens{
        display: unset;
    }
    .Label{
        text-align: center;
    }
    .CheckBox{
        text-align: center;
    }
    .Input{
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .VeryLargeScreens{
        display: none;
    }
    .MediumScreens{
        display: none;
    }
    .SmallScreens{
        display: unset;
    }
    .TinyScreens{
        display: none;
    }
    .Label{
        text-align: right;
    }
    .CheckBox{
        text-align: center;
    }
    .Input{
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
    .VeryLargeScreens{
        display: none;
    }
    .MediumScreens{
        display: unset;
    }
    .SmallScreens{
        display: none;
    }
    .TinyScreens{
        display: none;
    }
    .Label{
        text-align: right;
    }
    .CheckBox{
        text-align: left;
    }
    .Input{
        text-align: left;
    }
}

@media screen and (min-width: 996px){
    .VeryLargeScreens{
        display: unset;
    }
    .MediumScreens{
        display: none;
    }
    .SmallScreens{
        display: none;
    }
    .TinyScreens{
        display: none;
    }
    .Label{
        text-align: right;
    }
    .CheckBox{
        text-align: left;
    }
    .Input{
        text-align: left;
    }
}